<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="./assets/stylesheets/base.css">
        <link rel="stylesheet" href="./assets/stylesheets/card_horizontal_style.css">

        <title>Document</title>
    </head>
    <body>
        
        <!-- Horizontal Card Start -->
        <article class="horizontal-card">
            <img src="./assets/images/placeholder.png">
            <div>
                <section>
                    <h2>Lorem ipsum dolor</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consecetur adipiscing elit. Praesent accumsan magna.
                    </p>
                </section>
            </div>
        </article>
        <!-- Horizontal Card End -->

    </body>
</html>