<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="./assets/stylesheets/base.css">
        <link rel="stylesheet" href="./assets/stylesheets/navbar_style.css">

        <title>Document</title>
    </head>
    <body>
        
        <!-- Navbar Module Start -->
        <header>
            <nav>
                <a href="#">
                    <h1>CPH Architects</h1>
                </a>
                
                <label for="navCheckbox">
                    <img src="./assets/images/menu.png">
                </label>
                <input id="navCheckbox" type="checkbox">

                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Menu</a></li>
                </ul>
            </nav>
        </header>
        <!-- Navbar Module End -->

    </body>
</html>