.gallery-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 16px 0;
    padding: 16px;
    grid-gap: 16px;
}

.gallery-container img {
    width: 100%;
    object-fit: cover;
    height: calc((100vw / 3) - (16px * 4));
}

@media screen and (min-width: 769px) {
    .gallery-container {
        margin: 64px auto;
        width: 672px;
    }

    .gallery-container img {
        object-fit: cover;
        height: 150px;
    }
}