/* Resets */
body {
    margin: 0;
}

p, h1, h2 {
    margin: 0;
}

p {
    line-height: 20px;
}

h1 {
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 42px;
}

h2 {
    font-family: "Arial Narrow";
    font-weight: bold;
    font-size: 24px;
}

@media screen and (min-width: 769px) {
    header nav h1 {
        font-size: 48px;
    }
}

/* Define Colours */
:root {
    --off-white: #FEFEFE;
    --light-green: #BCDFDE;
    --off-black: #707070;
    --dark-green: #92B8B7;
}

/* Navbar Style Start */
header {
    background-color: var(--dark-green);
}

header nav {
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: calc(70px);
}

header nav > label {
    margin-right: 16px;
}

header nav > a {
    margin-left: 16px;
}

header nav a {
    text-decoration: none;
    color: var(--off-white);
    align-self: center;
}

header nav label {
    justify-self: flex-end;
    line-height: 0;
}

header nav label img {
    height: 48px;
}

header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    align-self: flex-end;
    display: none;
}

header nav ul li {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    height: 70px;
}

header nav ul a {
    height: 100%;
    align-content: center;
    display: grid;
}

header nav #navCheckbox {
    display: none;
}

header nav #navCheckbox:checked ~ ul {
    display: block;
    background-color: var(--off-black);
    grid-column: 1 / 3;
}

@media screen and (min-width: 769px) {
    header nav {
        width: 672px;
        margin: 0 auto;
        height: 100px;
        grid-template-rows: calc(100px - 48px);
        padding-bottom: 24px;
        padding-top: 24px;
    }

    header nav label {
        display: none;
    }

    header nav ul, header nav #navCheckbox:checked ~ ul {
        display: flex !important;
        justify-content: flex-end;
        padding: 0;
        background-color: transparent;
        height: 100%;
        grid-column: 2;
    }

    header nav ul li {
        padding: 0 10px;
    }

    header nav ul li a {
        text-decoration: underline;
    }
}
/* Navbar Style End */

/* Footer Module Style Start */
footer {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    padding: 48px 16px 16px 16px;
    background-color: var(--off-black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    grid-template-columns: 1fr 1fr;
}

footer address {
    font-style: normal;
    line-height: 24px;
}

footer p {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 12px;
    padding-top: 48px;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-self: end;
}

footer ul li {
    margin: 8px;
}

footer ul li img {
    height: 36px;
}
/* Footer Module Style End */

/* Horizontal Card Style Start */
.horizontal-card {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    height: 176px;
}

.horizontal-card img {
    height: 100%;
}

.horizontal-card div {
    background-color: var(--light-green);
    color: var(--off-black);
    padding: 16px 8px;
}

@media screen and (min-width: 769px) {
    .horizontal-card {
        height: 256px;
    }
}
/* Horizontal Card Style End */


.gallery-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 16px 0;
    padding: 16px;
    grid-gap: 16px;
}

.gallery-container img {
    width: 100%;
    object-fit: cover;
    height: calc((100vw / 3) - (16px * 4));
}

@media screen and (min-width: 769px) {
    .gallery-container {
        margin: 64px auto;
        width: 672px;
    }

    .gallery-container img {
        object-fit: cover;
        height: 150px;
    }
}