/* Horizontal Card Style Start */
.horizontal-card {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.horizontal-card figure {
    margin: 0;
    line-height: 0;
}

.horizontal-card figure img {
    width: 100%;
}

.horizontal-card div {
    background-color: var(--light-green);
    color: var(--off-black);
    padding: 16px 8px;
}
/* Horizontal Card Style End */